
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');


/*font-family: 'Gravitas One', cursive;*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'poppins', sans-serif; /*Vi må legge til en for <p>, altså vi har 2 fonts (fontpair)*/
    color: black;
    margin: 0;
    font-size: 18px;
}
h1,h2{
    font-weight:500;
    padding: 1rem 1rem 1rem 0;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}

p{
    
    font-size: 1.1rem;
    line-height: 2rem;
    
}
main{
    margin:0 auto;
    width: 90%;
    margin-top:5rem;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Home Page */
.home{
    height: 92vh;
    flex-direction: row;
    justify-content: space-between;
}

.home-img{
    height: 100%;
    
}

.tittle {
    width: 80%;
}

.tittle2 {
    width: 80%;
}
#home-page{
    width: 100%;
}
.home-content{
    padding: 2rem;
}


/*  NAVIGATION */
header{
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 1;
    top:0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    align-items: center;
    z-index: 100;
}

.logo img{
    height: 45px;
    width: auto;
    padding-top: 5px;
}
.nav-list{
    list-style-type: none;
}

.nav-list .list-item{
    display: inline-block;
    padding: 20px 10px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    color: yellow;
}

#menu{
    display: none;
}

.menu-line{
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 4px 0px 4px 0px;
}

.toggle{
    cursor: pointer;
    display: none;
}
/*My first Semester*/
/*.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
 }*/

 .toptext{
     margin-bottom: 100px;
 }
 .portfolio{
    margin-top: 1rem;

 }
 .portfolio .reflection-section{
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-bottom: 2rem;
 }
 #topical .section{
    grid-template-columns: 1.25fr 1fr;
 }

 .portfolio .reflection-section img{
    width: 100%;
    align-self: center;
    padding-left: 1rem;
    max-width: 500px;
    display: block;
    margin-left: auto;
 }

/* @media screen and (max-width: 990px){
    .navbar{
        flex-direction: column;
        padding: 0px 40px;
    }

    .logo{
        width: 100%;
    }

    .logo img{
        padding-top: 10px;
    }

    .toggle{
        display: block;
        position: absolute;
        top: 15px;
        right: 40px;
    }

    .nav-list{
        position: fixed;
        width: 100%;
        text-align: center;
        top: -100%;
        left: 0;
    }


    #menu:checked + label + .nav-list{
        background-color: black;
        top: 55px;
    }

} */


/*Logo*/
/* .services{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    text-align: center;
}

.services .service {
    padding: 30px;
}

.services .service:hover {
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}


.services .service h2 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    color: #1b206e;
}
.services .service .icon img{
    max-width: 25%;
} */

.portfolio .section .service {
    padding: 2rem;
    width: 100%;
}

.portfolio .section .service:hover {
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}


.portfolio .section .service h2 {
    font-weight: 500;
    margin-top: 2rem;
    color: #1b206e;
}
.portfolio .section .service .icon img{
    width: 40%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    padding: 0;
}



footer{
    padding: 2rem;
    width: 90%;
    margin: 2rem auto 1rem;
    color: white;
    background-color: black;
}
footer a{
    color: white;
}
footer a:hover{
    color:yellow;
}

/*----- test page starts -----*/

.topical-side{
    display: flex;
}

.topical-side p{
    margin-bottom: 1rem;
}

.topical-side article{
    margin-right: 50px;
}

.topical-side article ol{
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.topical-side article ol li{
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}
    
.topical-side aside{
    background-color: lightgray;
}

.topical-side aside h2{
    text-align: center;
}


.topical-side .service{
    height: 225px;
    background-color: white;
    margin: 20px;
    padding: 20px;
}
.topical-side aside .service h2{
    text-align: left;
    font-size: 80%;
}

.topical-side aside .service a{
    font-size: 90%;
}

.topical-side aside .service p{
    font-size: 80%;
    line-height: 1rem;
    margin-top: 0.5rem;

}

.topical-side aside .service .icon img{
    width: 25%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

@media screen and (max-width: 800px){
    .topical-side{
        flex-direction: column;
    }

    .topical-side article{
        margin-right: 0;
    }

    .topical-side aside{
        text-align: center;
    }
}


/*----- test page ends -----*/


@media screen and (max-width: 800px){
    body {
        font-size: 14px;
    }
    
    .navbar{
        flex-direction: column;
        padding: 0px 40px;
    }

    .logo{
        width: 100%;
    }

    .logo img{
        padding-top: 10px;
    }

    .toggle{
        display: block;
        position: absolute;
        top: 15px;
        right: 40px;
    }

    .nav-list{
        position: fixed;
        width: 100%;
        text-align: center;
        top: -100%;
    }

    .nav-list .list-item{
        display: block;
        border-top: 1px solid white;
    }

    #menu:checked + label + .nav-list{
        background-color: black;
        top: 55px;
    }

    /* .services{
        grid-template-columns: 1fr;
    
    } */
    

    .home-img{
        display: none;
    }
    .logo{
        top:10px;
        left: 40px;
        font-size: 1.5rem;
        
    }
    .portfolio .reflection-section{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0;
    }
    #topical .reflection-section{
        grid-template-columns:1fr;
     }
    .portfolio .reflection-section img{
        /* display: none; */
        padding:0;
        margin: 1rem auto;
    }
    .portfolio .reflection-section .service {
        box-shadow: 0 10px 30px rgba(0,0,0,0.1);
        max-width: 400px;
        
    }
     footer{
         padding: 1rem;
         word-wrap: break-word;

     }


     .tittle {
         width: 100%;
     }

     .toptext{
        text-align: left;
        margin-bottom: 40px;
     }

}
@media screen and (max-width: 1024px){
    body {
        font-size: 16px;
    }
    
}

/*spesielt for 4k+ skjermer*/
@media screen and (min-width: 1800px){
    body {
        font-size: 40px;
    }
    
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    
    p{
      
        font-size: 1.5rem;
    }
    a{
        font-size: 1.5rem;
    }
    main{
        margin-top:6rem;
    }
    .portfolio .reflection-section img{
        
        max-width: 700px;

     }
}
@media screen and (max-width: 500px){
    .portfolio .section .service {
        margin:0 auto;
    }
}