
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');


/*font-family: 'Gravitas One', cursive;*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'poppins', sans-serif; /*Vi må legge til en for <p>, altså vi har 2 fonts (fontpair)*/
    color: black;
    margin: 0;
    font-size: 18px;
}
h1,h2,h3{
    font-weight:500;
    padding: 1rem 1rem 1rem 0;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.3rem;
}

p,a{
    
    font-size: 1.1rem;
    line-height: 2rem;
    
}
main{
    margin:0 auto;
    width: 90%;
    margin-top:5rem;
}


/* Home Page */
.home{
    height: 92vh;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
}

.home-img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110%;
}

section{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 0;   
}

.home-content{
    z-index: 10;
    max-width: 600px;
    padding: 2rem;
}

.btn{
    display: inline-block;
    cursor: pointer;
    background: black;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    margin: 20px 0;
}

.btn:hover{
    transform: scale(0.98);
    color: yellow;
    
}
.tittle {
    width: 95%;
}

.tittle2 {
    width: 80%;
}
#home-page{
    display: flex;
    width: 100%;
}



/*  NAVIGATION */
header{
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 50;
    top:0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    align-items: center;
    z-index: 100;
}

.logo img{
    height: 45px;
    width: auto;
    padding-top: 5px;
}
.nav-list{
    list-style-type: none;
}

.nav-list .list-item{
    display: inline-block;
    padding: 20px 10px;
}

.navbar a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover{
    color: rgba(255,220,0,1);
}

#menu{
    display: none;
}

.menu-line{
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 4px 0px 4px 0px;
}

.toggle{
    cursor: pointer;
    display: none;
}
/*My first Semester*/



 .portfolio .reflection-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-bottom: 15px;

 }


 .portfolio .reflection-section img{
    width: 100%;
    align-self: center;
    /*padding-bottom: 1rem;*/
    max-width: 500px;
    display: block;
    margin-left: auto;
    border-radius: 20px;
 }

 .toptext{
     text-align: center;
     margin-bottom: 50px;
 }



footer{
    padding: 2rem;
    width: 90%;
    margin: 2rem auto 1rem;
    color: white;
    background-color: black;
}
footer a{
    color: white;
}
footer a:hover{
    color:rgba(255,220,0,1);
}

/*----- test page starts -----*/

.topical-side{
    display: flex;
}

.topical-side p{
    margin-bottom: 1rem;
}

.topical-side article{
    margin-right: 50px;
}

.topical-side article ol{
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.topical-side article ol li{
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}
    
.topical-side aside{
    background-color: lightgray;
}

.topical-side aside h2{
    text-align: center;
}
 
.topical-side .service{
    height: 100%;
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
}
.topical-side aside .service h2{
    text-align: left;
    font-size: 1.3rem
}

.topical-side aside .service a{
    font-size: 1.2rem;
}

.topical-side aside .service p{
    margin-top: 0.5rem;
}

.topical-side aside .service .icon img{
    width: 25%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

@media screen and (max-width: 800px){
    .topical-side{
        flex-direction: column;
    }

    .topical-side article{
        margin-right: 0;
    }

    .topical-side aside{
        text-align: center;
    }
}

/*----- test page ends -----*/

/*----- test test fun starts -----*/
.fun-site-body{
    background-color: black;
}

.fun-site .banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.fun-site .banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    filter: saturate(0) brightness(95%);
}

.fun-site .banner .banner-title{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 1;
}

.fun-site .banner .banner-title h1{
    font-size: 5em;
    text-transform: uppercase;
    color: white;
}

.fun-site .banner .banner-title p{
    color: white;
    margin-bottom: 2rem;
}

.fun-site .banner .banner-title a{
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    background-color: rgba(255,220,0,1);
    transition: 0.5s;
    border-radius: 5px;
}

.fun-site .banner .banner-title a:hover{
    background-color: white;
}

.fun-site .banner .divider{
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 250px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0.50), rgba(0,0,0,75), rgba(0,0,0,1));
}

#modal-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    display: none;
    z-index: 10;
}

#modal-video:target{
    display: block;
}

#modal-video .modal-video-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal-video .modal-video-content a.close-modal-video{
    text-decoration: none;
    background-color: none;
    position: absolute;
    color:white;
    top: -100px;
    right: -75px;
    font-size: 50px;
}

.fun-site-footer{
    border: 2px solid rgba(255,220,0,1);

}

@media screen and (max-width: 800px){
    .fun-site{
        margin-top: 0;
        margin-bottom: 5rem;
        height: 100vh;
        width: 100%;
        background-image: url('../img/fun_h2.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }

    .fun-site .banner video{
        display: none;
    }

    #modal-video .modal-video-content iframe{
        width: 100%;
        height: auto;
    }


}

/*----- test test fun ends -----*/

@media screen and (max-width: 800px){
    body {
        font-size: 14px;
    }
    
    .navbar{
        flex-direction: column;
        padding: 0px 40px;
    }

    .logo{
        width: 100%;
    }

    .logo img{
        padding-top: 10px;
    }

    .toggle{
        display: block;
        position: absolute;
        top: 15px;
        right: 40px;
    }

    .nav-list{
        position: fixed;
        width: 100%;
        text-align: center;
        top: -100%;
    }

    .nav-list .list-item{
        display: block;
        border-top: 1px solid white;
    }

    #menu:checked + label + .nav-list{
        background-color: black;
        top: 55px;
    }
    

    .home-img{
        display: none;
    }
    .logo{
        top:10px;
        left: 40px;
        font-size: 1.5rem;
        
    }
    .portfolio .reflection-section{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0;
    }
    #topical .reflection-section{
        grid-template-columns:1fr;
     }
    .portfolio .reflection-section img{
        /* display: none; */
        padding:0;
        margin: 1rem auto;
    }
    .portfolio .reflection-section .service {
        box-shadow: 0 10px 30px rgba(0,0,0,0.1);
        max-width: 400px;
        
    }
     footer{
         padding: 1rem;
         word-wrap: break-word;

     }


     .tittle {
         width: 100%;
     }

     .toptext{
        text-align: center;
        margin-bottom: 40px;
     }

}
@media screen and (max-width: 1024px){
    body {
        font-size: 16px;
    }
    
}

/*spesielt for 4k+ skjermer*/
@media screen and (min-width: 1800px){
    body {
        font-size: 40px;
    }
    
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    
    p{
      
        font-size: 1.5rem;
    }
    a{
        font-size: 1.5rem;
    }
    main{
        margin-top:6rem;
    }
    .portfolio .reflection-section img{
        max-width: 700px;
     }
}
