
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');


/*font-family: 'Gravitas One', cursive;*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'poppins', sans-serif; /*Vi må legge til en for <p>, altså vi har 2 fonts (fontpair)*/
    color: black;
    margin: 0;
    font-size: 18px;
}
h1,h2{
    font-weight:500;
    padding: 1rem 1rem 1rem 0;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}

p{
    
    font-size: 1.1rem;
    line-height: 2rem;
   /* max-width: 80%;*/
}
main{
    margin:0 auto;
    width: 90%;
    margin-top:4rem;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Home Page */
.home{
    height: 100vh;
    flex-direction: row;
}
<<<<<<< HEAD

.home-img{
    height: 90%;
    justify-self: flex-end;
}

.tittle {
    width: 80%;
}

.tittle2 {
    width: 80%;
}
#home-page{
    margin-top:0;
}
=======
/* 
>>>>>>> 6b82c2ac1e3ba1d62d6c725164ad8fa3c8d65d98
.btn{
    cursor: pointer;
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    margin: 20px 0;
}
.btn:hover{
    transform: scale(0.98);
} */

/* Home Page */
.home-content{
    position: relative;

}

.home-img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110%;
    z-index: -1;
   
   }

/*  NAVIGATION */
header{
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 1;
    top:0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    align-items: center;
    z-index: 100;
}

.logo img{
    height: 45px;
    width: auto;
    padding-top: 5px;
}
.nav-list{
    list-style-type: none;
}

.nav-list .list-item{
    display: inline-block;
    padding: 20px 10px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    color: yellow;
}

#menu{
    display: none;
}

.menu-line{
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 4px 0px 4px 0px;
}

.toggle{
    cursor: pointer;
    display: none;
}
/*My first Semester*/
/*.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
 }*/

<<<<<<< HEAD
 .toptext{
     text-align: center;
     margin-bottom: 100px;
 }
 .portfolio{
    margin-top: 1rem;

 }
 .section{
    display: flex;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 2rem;
 }

 .portfolio .section img{
    width: 100%;
    align-self: center;
    padding-left: 1rem;
    max-width: 500px;
    display: block;
    margin-left: auto;
 }
 
 .portfolio .section .img2{
    width: 100%;
    align-self: center;
    padding-right: 1rem;
    max-width: 500px;
 }
=======
@media screen and (max-width: 990px){
    .navbar{
        flex-direction: column;
        padding: 0px 40px;
    }

    .logo{
        width: 100%;
    }

    .logo img{
        padding-top: 10px;
    }

    .toggle{
        display: block;
        position: absolute;
        top: 15px;
        right: 40px;
    }

    .nav-list{
        position: fixed;
        width: 100%;
        text-align: center;
        top: -100%;
        left: 0;
    }
>>>>>>> main


<<<<<<< HEAD
=======
    #menu:checked + label + .nav-list{
        background-color: black;
        top: 55px;
    }

}
>>>>>>> main


/*Logo*/
.services{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    text-align: center;
}

.services .service {
    padding: 30px;
}

.services .service:hover {
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}


.services .service h2 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    color: #1b206e;
}
.services .service .icon img{
    max-width: 25%;
}


footer{
    padding: 2rem;
    width: 90%;
    margin: 2rem auto 1rem;
    color: white;
    background-color: black;
}
footer a{
    color: white;
}
footer a:hover{
    color:yellow;
}




@media screen and (max-width: 800px){
    
    body {
        font-size: 14px;
    }
    

    .navbar{
        flex-direction: column;
    }

    .logo{
        width: 95%;
    }

    .toggle{
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .nav-list{
        position: fixed;
        width: 100%;
        text-align: center;
        top: -100%;
    }

    .nav-list .list-item{
        display: block;
        border-top: 1px solid white;
    }

    #menu:checked + label + .nav-list{
        background-color: black;
        top: 6.75%;
    }

    .services{
        grid-template-columns: 1fr;
    
    }
    .services .service {
        box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    }

    .home-img{
        display: none;
    }
    .logo{
        top:10px;
        left: 40px;
        font-size: 1.5rem;
        
    }
    .section{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0;
        
        

    }
    .portfolio .section img{
        display: none;
        padding:0;
        margin: 1rem 0;

        
     }
     footer{
         padding: 1rem;
         word-wrap: break-word;

     }


     .tittle {
         width: 100%;
     }

     .toptext{
        text-align: left;
        margin-bottom: 40px;

}
@media screen and (max-width: 1024px){
    body {
        font-size: 16px;
    }
    
}

/*spesiell case for 4k+ skjermer*/
@media screen and (min-width: 1800px){
    body {
        font-size: 40px;
    }
    
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    
    p{
      
        font-size: 1.5rem;
    }
    a{
        font-size: 1.5rem;
    }
    main{
        margin-top:6rem;
    }
<<<<<<< HEAD
}




=======
    .portfolio .section img{
        
        max-width: 700px;

     }
    
}
>>>>>>> 6b82c2ac1e3ba1d62d6c725164ad8fa3c8d65d98
